**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exploración y Curación de Datos**

*Edición 2025*

----

# Trabajo práctico entregable - parte 1

En esta notebook, vamos a cargar el conjunto de datos de [la compentencia Kaggle](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot) sobre estimación de precios de ventas de propiedades en Melbourne, Australia.

Utilizaremos el conjunto de datos reducido producido por [DanB](https://www.kaggle.com/dansbecker). Hemos subido una copia a un servidor de la Universidad Nacional de Córdoba para facilitar su acceso remoto.

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.ticker as mticker

import seaborn
seaborn.set_context('talk')

from sqlalchemy import create_engine, text

In [2]:
import plotly
plotly.__version__

'6.1.0'

In [3]:
# # data source: Melbourne 
melb_df = pd.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')

# data source: Airbnb-Melbourne
# https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv
interesting_cols = [
  'description', 'neighborhood_overview',
  'street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode',
  'price', 'weekly_price', 'monthly_price',
  'latitude', 'longitude',
]
airbnb_df = pd.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv',
    usecols=interesting_cols)

/var/folders/9x/sk5wzh9n465bsgp0vntddj3w0000gn/T/ipykernel_37116/3089177150.py:13: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  airbnb_df = pd.read_csv(

## Ejercicio 1 SQL:

1. Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

2. Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

3. Validar tipos de columnas antes de guardar: df.to_sql() infiere tipos automáticamente, pero a veces los nombres de columnas como Date, Price o ID dan problemas si vienen con strings o valores nulos.

4. Implementar consultas en SQL que respondan con la siguiente información:

    - cantidad de registros totales por ciudad.
    - cantidad de registros totales por barrio y ciudad.
    - Consulta con filtro: ¿Cuántas propiedades hay por ciudad con más de 2 habitaciones?
    - Agregación condicional: ¿Cuál es el precio promedio de propiedades según tipo (Type) y ciudad?
    - Orden y límites: Mostrá el top 5 barrios con propiedades más caras en promedio.

5. Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase.

### Pequena exploracion de datos de las bases **melf_df**, **airnbnb_df**

Realizamos una pequena exploracion de los dataframes *melf_df* y *airbnb_df*, y entendemos que las bases de datos, mismo que puedan ser relacionadas, se encuentran con diferentes niveles de informaciones. La base *melf_df* es una base con nivel de informacion de precios de ventas de inmuebles de diversos barrios en la ciudad de Melbourne, Australia (entendemos que el campo 'suburb' puede ser considerado el barrio segun la siguiente pagina de referencia de https://www.melbourne.vic.gov.au/suburbs-and-neighbourhoods), mientras que la base *airbnb_df* tiene informacion de alquiler de diarios/semanal/mensual de diferentes ciudades Australia, incluyendo Melbourne. Tambien consideramos y entendemos que cada registro de la base puede tener un 'unique_id' para cada inmueble que puede ser considerado el campo 'Postcode', mientras que en la base *airbnb_df* ese campo seria 'zipcode', porque lo que podemos conectar ambas las fuentes considerando mediante estos campos. Pero como en algunas de las preguntas necesitamos responder y dar informaciones sobre cantidade de habitaciones, precio promedio de las propiedades o las propiedades mas caras, si realizamos un JOIN entre las bases vamos a terminando con informacion solamente para la ciudad de Melbourne y esto es debido a que la base airbnb generada en clase no tiene la informacion de la cantidad de habitaciones, tipo, precio de venta de inmueble, por esta razon consideramos trabajar directamente con la base *melf_df*, para responder las preguntas del apartado 3.


**Nota:** Realizamos una pequena exploracion de otros columnas que estan presentes en la base de datos 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv' y podemos ver que tiene informacion complementar que no fue considera en la clase como por ejemplo la cantidad de habitaciones, banos, etc. Por exemplo: 

['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary', 'space', 'description', 'neighborhood_overview', 'notes', 'transit', 'access', 'interaction', 'house_rules', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighborhood', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode','smart_location', 'country_code', 'country', 'latitude', 'longitude', 'is_location_exact', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'requires_license', 'license', 'instant_bookable', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'reviews_per_month']

Creacion de Base de datos e ingesta

In [4]:
# Create a SQLite database -- engine

engine = create_engine("sqlite:///melbourne.db", echo=True)

# Working data for the analysis
airbnb_df['zipcode'] = pd.to_numeric(airbnb_df.zipcode, errors='coerce')
airbnb_df['zipcode_int'] = airbnb_df.zipcode.fillna(0).astype('int') # Convertimos la columna zipcode a int y renombramos la columna para no perder la original
melb_df['Postcode'] = pd.to_numeric(melb_df.Postcode, errors='coerce')
melb_df['Postcode_int'] = melb_df.Postcode.fillna(0).astype('int') # Convertimos la columna Postcode a int y renombramos la columna para no perder la original
airbnb_df['weekly_price_calculate'] = airbnb_df.apply(lambda row: row['price']*7. if pd.isnull(row['weekly_price']) else row['weekly_price'], axis=1) # Realizamos el calculo de weekly_price considerando price*7dias
airbnb_df['monthly_price_calculate'] = airbnb_df.apply(lambda row: row['price']*30. if pd.isnull(row['monthly_price']) else row['monthly_price'], axis=1) # Realizamos el calculo de weekly_price considerando price*30dias
melb_df['Date'] = pd.to_datetime(melb_df['Date'], errors='coerce') # Convertimos la columna Date a datetime
melb_df['Bedroom2'] = melb_df['Bedroom2'].fillna(0).astype('int') # Convertimos la columna Bedroom2 a int
melb_df['Bathroom'] = melb_df['Bathroom'].fillna(0).astype('int') # Convertimos la columna Bathroom a int
melb_df['Car'] = melb_df['Car'].fillna(0).astype('int') # Convertimos la columna Car a int

In [53]:
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           5138 non-null   datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  int64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
 21  Postcode_int   13580 non-null  int64
dtypes: datetime64[ns](1), float64(9), int64(5), object(7)
memory usage: 2.3+ MB

In [54]:
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22895 entries, 0 to 22894
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   description              22563 non-null  object
 1   neighborhood_overview    14424 non-null  object
 2   street                   22895 non-null  object
 3   neighborhood             17082 non-null  object
 4   city                     22895 non-null  object
 5   suburb                   22872 non-null  object
 6   state                    22834 non-null  object
 7   zipcode                  22749 non-null  float64
 8   latitude                 22895 non-null  float64
 9   longitude                22895 non-null  float64
 10  price                    22895 non-null  int64
 11  weekly_price             2524 non-null   float64
 12  monthly_price            1891 non-null   float64
 13  zipcode_int              22895 non-null  int64
 14  weekly_price_calculate   22895 non-null  float64
 15  monthly_price_calculate  22895 non-null  float64
dtypes: float64(7), int64(2), object(7)
memory usage: 2.8+ MB

In [55]:
# Create a table 'melb' in the SQLite database
melb_df.to_sql('melb', con=engine, if_exists='replace', index=False)

2025-05-20 20:59:40,047 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-20 20:59:40,104 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("melb")
2025-05-20 20:59:40,105 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:40,108 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("melb")
2025-05-20 20:59:40,108 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:40,123 INFO sqlalchemy.engine.Engine
CREATE TABLE melb (
	"Suburb" TEXT,
	"Address" TEXT,
	"Rooms" BIGINT,
	"Type" TEXT,
	"Price" FLOAT,
	"Method" TEXT,
	"SellerG" TEXT,
	"Date" DATETIME,
	"Distance" FLOAT,
	"Postcode" FLOAT,
	"Bedroom2" BIGINT,
	"Bathroom" BIGINT,
	"Car" BIGINT,
	"Landsize" FLOAT,
	"BuildingArea" FLOAT,
	"YearBuilt" FLOAT,
	"CouncilArea" TEXT,
	"Lattitude" FLOAT,
	"Longtitude" FLOAT,
	"Regionname" TEXT,
	"Propertycount" FLOAT,
	"Postcode_int" BIGINT
)


2025-05-20 20:59:40,124 INFO sqlalchemy.engine.Engine [no key 0.00165s] ()
2025-05-20 20:59:40,381 INFO sqlalchemy.engine.Engine INSERT INTO melb ("Suburb", "Address", "Rooms", "Type", "Price", "Method", "SellerG", "Date", "Distance", "Postcode", "Bedroom2", "Bathroom", "Car", "Landsize", "BuildingArea", "YearBuilt", "CouncilArea", "Lattitude", "Longtitude", "Regionname", "Propertycount", "Postcode_int") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-20 20:59:40,382 INFO sqlalchemy.engine.Engine [generated in 0.10049s] [('Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '2016-03-12 00:00:00.000000', 2.5, 3067.0, 2, 1, 1, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0, 3067), ('Abbotsford', '25 Bloomburg St', 2, 'h', 1035000.0, 'S', 'Biggin', '2016-04-02 00:00:00.000000', 2.5, 3067.0, 2, 1, 0, 156.0, 79.0, 1900.0, 'Yarra', -37.8079, 144.9934, 'Northern Metropolitan', 4019.0, 3067), ('Abbotsford', '5 Charles St', 3, 'h', 1465000.0, 'SP', 'Biggin', '2017-04-03 00:00:00.000000', 2.5, 3067.0, 3, 2, 0, 134.0, 150.0, 1900.0, 'Yarra', -37.8093, 144.9944, 'Northern Metropolitan', 4019.0, 3067), ('Abbotsford', '40 Federation La', 3, 'h', 850000.0, 'PI', 'Biggin', '2017-04-03 00:00:00.000000', 2.5, 3067.0, 3, 2, 1, 94.0, None, None, 'Yarra', -37.7969, 144.9969, 'Northern Metropolitan', 4019.0, 3067), ('Abbotsford', '55a Park St', 4, 'h', 1600000.0, 'VB', 'Nelson', '2016-04-06 00:00:00.000000', 2.5, 3067.0, 3, 1, 2, 120.0, 142.0, 2014.0, 'Yarra', -37.8072, 144.9941, 'Northern Metropolitan', 4019.0, 3067), ('Abbotsford', '129 Charles St', 2, 'h', 941000.0, 'S', 'Jellis', '2016-07-05 00:00:00.000000', 2.5, 3067.0, 2, 1, 0, 181.0, None, None, 'Yarra', -37.8041, 144.9953, 'Northern Metropolitan', 4019.0, 3067), ('Abbotsford', '124 Yarra St', 3, 'h', 1876000.0, 'S', 'Nelson', '2016-07-05 00:00:00.000000', 2.5, 3067.0, 4, 2, 0, 245.0, 210.0, 1910.0, 'Yarra', -37.8024, 144.9993, 'Northern Metropolitan', 4019.0, 3067), ('Abbotsford', '98 Charles St', 2, 'h', 1636000.0, 'S', 'Nelson', '2016-08-10 00:00:00.000000', 2.5, 3067.0, 2, 1, 2, 256.0, 107.0, 1890.0, 'Yarra', -37.806, 144.9954, 'Northern Metropolitan', 4019.0, 3067)  ... displaying 10 of 13580 total bound parameter sets ...  ('Williamstown', '96 Verdon St', 4, 'h', 2500000.0, 'PI', 'Sweeney', None, 6.8, 3016.0, 4, 1, 5, 866.0, 157.0, 1920.0, None, -37.85908, 144.89299, 'Western Metropolitan', 6380.0, 3016), ('Yarraville', '6 Agnes St', 4, 'h', 1285000.0, 'SP', 'Village', None, 6.3, 3013.0, 4, 1, 1, 362.0, 112.0, 1920.0, None, -37.81188, 144.88449, 'Western Metropolitan', 6543.0, 3013)]
2025-05-20 20:59:40,420 INFO sqlalchemy.engine.Engine COMMIT

13580

In [56]:
# Create a table 'airbnb' in the SQLite database and insert the data
airbnb_df.to_sql('airbnb', con=engine, if_exists='replace', index=False)

2025-05-20 20:59:41,317 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-20 20:59:41,329 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("airbnb")
2025-05-20 20:59:41,331 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:41,332 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("airbnb")
2025-05-20 20:59:41,332 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:41,335 INFO sqlalchemy.engine.Engine
CREATE TABLE airbnb (
	description TEXT,
	neighborhood_overview TEXT,
	street TEXT,
	neighborhood TEXT,
	city TEXT,
	suburb TEXT,
	state TEXT,
	zipcode FLOAT,
	latitude FLOAT,
	longitude FLOAT,
	price BIGINT,
	weekly_price FLOAT,
	monthly_price FLOAT,
	zipcode_int BIGINT,
	weekly_price_calculate FLOAT,
	monthly_price_calculate FLOAT
)


2025-05-20 20:59:41,336 INFO sqlalchemy.engine.Engine [no key 0.00074s] ()
2025-05-20 20:59:41,656 INFO sqlalchemy.engine.Engine INSERT INTO airbnb (description, neighborhood_overview, street, neighborhood, city, suburb, state, zipcode, latitude, longitude, price, weekly_price, monthly_price, zipcode_int, weekly_price_calculate, monthly_price_calculate) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-20 20:59:41,657 INFO sqlalchemy.engine.Engine [generated in 0.12260s] [('House: Clean, New, Modern, Quite, Safe. 10Km from the City. Golf course, Tennis courts, bus stop & shops walking distance!! Rooms: Contains one queen ... (702 characters truncated) ... pproximately what your daily in and out hours might look like.  Note: There is a 5 year old fun loving dog who lives with us and is part of our famil', 'Very safe! Family oriented. Older age group.', 'Bulleen, VIC, Australia', 'Balwyn North', 'Manningham', 'Bulleen', 'VIC', 3105.0, -37.77268393, 145.0921328, 60, None, None, 3105, 420.0, 1800.0), ("A large air conditioned room with queen spring mattress bed in a vintage apartment. Located right outside is a tram to the city just 19 minutes away. ... (702 characters truncated) ... ou east to Bundoora and west to Pacoevale. The Lygon Street tram line that goes past Melbourne University is 10 minutes walk west and Sydney Road and", "This hip area is a crossroads between two great cultural strips of inner Northern Melbourne.  Located in East Brunswick, between High St, Northcote a ... (533 characters truncated) ... re three coffee places within 50metres, and the Lomond Hotel Pub right across the road has good live music and there's also a pizza place downstairs.", 'Brunswick East, VIC, Australia', 'Brunswick', 'Moreland', 'Brunswick East', 'VIC', 3057.0, -37.76650512, 144.9807361, 35, 200.0, 803.0, 3057, 200.0, 803.0), ('RIGHT IN THE HEART OF ST KILDA! It doesn\'t get more central than this! A fabulous north facing balcony apartment that offers right in the heart of t ... (703 characters truncated) ... system with iPod dock & DVD/CD player Selection of books, magazines, DVDs, CDs Glass framed console/desk with lamp Bedroom with queen bed, hotel qual', 'A stay at our apartment means you can enjoy some of Melbourne’s best restaurants, bars, cafes, shopping, dining and night life, all at your doorstep. ... (288 characters truncated) ... ith the city skyline as a stunning backdrop. Our apartment is perfectly suited to those wanting an exclusive, authentic urban residential experience.', 'St Kilda, VIC, Australia', 'St Kilda', 'Port Phillip', 'St Kilda', 'VIC', 3182.0, -37.85975502, 144.9773691, 159, 1253.0, 4452.0, 3182, 1253.0, 4452.0), ("Comfortable, relaxed house, a home away from  home! This is a shared house, you will be sharing with me, plus the occasional other guest. Rooms are l ... (702 characters truncated) ... om, watch a movie, or TV, or relax in the back yard. Guest's privacy will be respected at all times. If you need information and tips on where to go,", 'This is a great neighbourhood – it is quiet, yet close to so many things. High Street, Northcote (hip bars, cafes and craft stores) are a 10 minute walk east; Sydney Road (ethnic delights and great food) is 8 minute drive west; city is 30 minutes by tram or train.', 'Thornbury, VIC, Australia', 'Thornbury', 'Darebin', 'Thornbury', 'VIC', 3071.0, -37.75897072, 144.9892279, 50, 250.0, 920.0, 3071, 250.0, 920.0), ('We offer comfortable accommodation in Inner Melbourne in Clement House, a two storey Victorian built in 1888. Large double bedroom with balcony, priv ... (660 characters truncated) ... n smoking house with an outside courtyard for smokers. The rate for guests that stay for a week are heavily discounted and therefore very attractive.', None, 'St Kilda East, VIC, Australia', 'St Kilda East', 'Port Phillip', 'St Kilda East', 'VIC', 3183.0, -37.8645303, 144.9922379, 69, 400.0, 1900.0, 3183, 400.0, 1900.0), ('Please note: No booking will be accepted with children under the age of 13 years.  Accommodation is non smoking in apartment & on grounds.  All visit ... (702 characters truncated) ... om, toilet & living area with stereo and 32" LCD TV. A second bedroom (Autumn Room) is available with another Queen size bed for extra travelers if r', 'Our street is quiet & secluded but within walking distance to almost anything you need.', 'Berwick, VIC, Australia', None, 'Casey', 'Berwick', 'VIC', 3806.0, -38.05725414, 145.3393561, 98, 540.0, None, 3806, 540.0, 2940.0), ('Easy to travel from and to the Airport; quiet and safe neighbourhood; a spacious and sunny room; backyard for sun baking; a friendly host who are eas ... (702 characters truncated) ... ovided here for your comfort is in a two bedroom unit with 100sqm backyard(my green garden). This bedroom is airy and bright with big windows. Your r', "The neighbours are quiet and friendly,  please don't park the car on my driveway because one of our neighbours is doing shifting work as a nurse. There are plenty of space for parking in the guest parking bay and along the street for free.", 'Reservoir, VIC, Australia', None, 'Darebin', 'Reservoir', 'VIC', 3073.0, -37.69729418, 145.0008156, 50, 335.0, 1400.0, 3073, 335.0, 1400.0), ("Comfortable and spacious room in an apartment close to the heart of Melbourne. High quality bedding and good sound proofing guarantees a good night's ... (702 characters truncated) ... take you right into the CBD, via Lonsdale Street and to Grattan Street, Melbourne University Tram 112 onto Collins Street Jolimont train station (10m", "MCG (15min walk) Rod Laver Arena Fitzroy Gardens Smith Street restaurants and bars (10min walk) Melbourne CBD  Parliament House St Vincent's Hospital (12min walk) The Royal Eye and Ear Hospital (11min walk) Keeping active while away: Pool Gym East Melbourne Tennis Club  Fitzroy Gardens", 'East Melbourne, VIC, Australia', None, 'Melbourne', 'East Melbourne', 'VIC', 3002.0, -37.81026723, 144.98592, 100, None, None, 3002, 700.0, 3000.0)  ... displaying 10 of 22895 total bound parameter sets ...  ("Immaculately presented and carefully maintained executive courtyard apartment, well spaced floor plan comprises a queen-sized bedroom with large mirr ... (702 characters truncated) ... Melbourne Exhibition and Convention Centres, (The Yarra's) Southbank Promenade (boasting an array of cafes, bars, restaurants and boutiques), The Cro", "A plethora of Melbourne highlights are just a few minutes walk away, including Melbourne Exhibition and Convention Centres, (The Yarra's) Southbank P ... (68 characters truncated) ... s), The Crown Casino Complex (offering a further array of dining, shopping and entertainment facilities), Clarendon Street South Melbourne's shopping", 'Southbank, VIC, Australia', 'Southbank', 'Melbourne', 'Southbank', 'VIC', 3006.0, -37.8277951, 144.9549869, 130, None, None, 3006, 910.0, 3900.0), ("An ENTIRE apartment unit ALL TO YOURSELF in Melbourne city, only a 5min walk to Melbourne Central and Queen Victoria Markets. Makes this cozy inner-c ... (702 characters truncated) ... s fully equipped and furnished  home is ready to go with: - Air Conditioning & heating  - Wireless internet (Pocket Wi-Fi) BEDROOM  - Queen sized bed", None, 'Carlton, VIC, Australia', 'Carlton', 'Melbourne', 'Carlton', 'VIC', 3053.0, -37.80518635, 144.9623991, 179, None, None, 3053, 1253.0, 5370.0)]
2025-05-20 20:59:41,764 INFO sqlalchemy.engine.Engine COMMIT

22895

Vimos que los datos cuando fueron guardados en la base de datos SQLite usando a estrutura interna de Pandas, algunos campos como 'Date', 'Bathroom2', 'Car', 'Bathroom' fueron en formatos que no fueron especificados. Por esa realizamos algunas modificaciones previamente en esos campos para poder guardarlos en un formato mas apto para cada campo. Tambien, pudimos observar en la documentacion de pandas que existe una parametro (dtype={'name_column1':Integer(), 'name_column2':Float(),.....}) que puede ser pasado en el momento de guardar los datos especificando los formatos de cada campo.

In [57]:
# Para saber el schema de la tabla melb
diff_schema_melb= pd.read_sql(text("""PRAGMA table_info('melb')"""), con=engine)
diff_schema_melb['pandas_column_type'] = melb_df.dtypes
diff_schema_melb[['name','type','pandas_column_type']]

2025-05-20 20:59:43,902 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-20 20:59:43,903 INFO sqlalchemy.engine.Engine PRAGMA table_info('melb')
2025-05-20 20:59:43,904 INFO sqlalchemy.engine.Engine [generated in 0.00221s] ()
2025-05-20 20:59:43,909 INFO sqlalchemy.engine.Engine ROLLBACK

             name      type pandas_column_type
0          Suburb      TEXT                NaN
1         Address      TEXT                NaN
2           Rooms    BIGINT                NaN
3            Type      TEXT                NaN
4           Price     FLOAT                NaN
5          Method      TEXT                NaN
6         SellerG      TEXT                NaN
7            Date  DATETIME                NaN
8        Distance     FLOAT                NaN
9        Postcode     FLOAT                NaN
10       Bedroom2    BIGINT                NaN
11       Bathroom    BIGINT                NaN
12            Car    BIGINT                NaN
13       Landsize     FLOAT                NaN
14   BuildingArea     FLOAT                NaN
15      YearBuilt     FLOAT                NaN
16    CouncilArea      TEXT                NaN
17      Lattitude     FLOAT                NaN
18     Longtitude     FLOAT                NaN
19     Regionname      TEXT                NaN
20  Propertycount     FLOAT                NaN
21   Postcode_int    BIGINT                NaN

In [58]:
# Para saber el schema de la tabla airbnb
pd.read_sql(text("""PRAGMA table_info('airbnb')"""), con=engine)

2025-05-20 20:59:44,817 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-20 20:59:44,818 INFO sqlalchemy.engine.Engine PRAGMA table_info('airbnb')
2025-05-20 20:59:44,819 INFO sqlalchemy.engine.Engine [generated in 0.00227s] ()
2025-05-20 20:59:44,823 INFO sqlalchemy.engine.Engine ROLLBACK

    cid                     name    type  notnull dflt_value  pk
0     0              description    TEXT        0       None   0
1     1    neighborhood_overview    TEXT        0       None   0
2     2                   street    TEXT        0       None   0
3     3             neighborhood    TEXT        0       None   0
4     4                     city    TEXT        0       None   0
5     5                   suburb    TEXT        0       None   0
6     6                    state    TEXT        0       None   0
7     7                  zipcode   FLOAT        0       None   0
8     8                 latitude   FLOAT        0       None   0
9     9                longitude   FLOAT        0       None   0
10   10                    price  BIGINT        0       None   0
11   11             weekly_price   FLOAT        0       None   0
12   12            monthly_price   FLOAT        0       None   0
13   13              zipcode_int  BIGINT        0       None   0
14   14   weekly_price_calculate   FLOAT        0       None   0
15   15  monthly_price_calculate   FLOAT        0       None   0

In [59]:
queryTotalRegistrosPorCiudad = "select count(*) as total from melb"
resultTotalRegistrosPorCiudad = pd.read_sql(queryTotalRegistrosPorCiudad, con=engine)
resultTotalRegistrosPorCiudad

2025-05-20 20:59:46,607 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-20 20:59:46,608 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select count(*) as total from melb")
2025-05-20 20:59:46,609 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:46,610 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select count(*) as total from melb")
2025-05-20 20:59:46,610 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:46,611 INFO sqlalchemy.engine.Engine select count(*) as total from melb
2025-05-20 20:59:46,611 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:46,616 INFO sqlalchemy.engine.Engine ROLLBACK

   total
0  13580

In [60]:
queryTotalRegistrosPorBarrioYCiudad = "select count(*) as total, suburb from melb group by suburb order by total desc;"
resultTotalRegistrosPorBarrioYCiudad = pd.read_sql(queryTotalRegistrosPorBarrioYCiudad, con=engine)
resultTotalRegistrosPorBarrioYCiudad

2025-05-20 20:59:47,165 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-20 20:59:47,166 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select count(*) as total, suburb from melb group by suburb order by total desc;")
2025-05-20 20:59:47,167 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:47,168 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select count(*) as total, suburb from melb group by suburb order by total desc;")
2025-05-20 20:59:47,169 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:47,169 INFO sqlalchemy.engine.Engine select count(*) as total, suburb from melb group by suburb order by total desc;
2025-05-20 20:59:47,170 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:47,178 INFO sqlalchemy.engine.Engine ROLLBACK

     total              Suburb
0      359           Reservoir
1      260            Richmond
2      249      Bentleigh East
3      239             Preston
4      222           Brunswick
..     ...                 ...
309      1        Bullengarook
310      1          Brookfield
311      1  Beaconsfield Upper
312      1       Bacchus Marsh
313      1             Attwood

[314 rows x 2 columns]

In [61]:
    # - Consulta con filtro: ¿Cuántas propiedades hay por ciudad con más de 2 habitaciones?
    
queryTotalRegistrosPorCiudadConMasDe2Habitaciones = "select count(*) as total from melb where rooms > 2 order by total desc;"
resultTotalRegistrosPorCiudadConMasDe2Habitaciones = pd.read_sql(queryTotalRegistrosPorCiudadConMasDe2Habitaciones, con=engine)
resultTotalRegistrosPorCiudadConMasDe2Habitaciones

2025-05-20 20:59:47,696 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-20 20:59:47,698 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select count(*) as total from melb where rooms > 2 order by total desc;")
2025-05-20 20:59:47,698 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:47,699 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select count(*) as total from melb where rooms > 2 order by total desc;")
2025-05-20 20:59:47,700 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:47,700 INFO sqlalchemy.engine.Engine select count(*) as total from melb where rooms > 2 order by total desc;
2025-05-20 20:59:47,701 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:47,704 INFO sqlalchemy.engine.Engine ROLLBACK

   total
0   9251

In [62]:
    # - Agregación condicional: ¿Cuál es el precio promedio de propiedades según tipo (Type) y ciudad?
queryPrecioPromedioPorTipoYCiudad = "select round(avg(price) ,2) as precio_promedio, type  from melb group by type order by precio_promedio desc;"
resultPrecioPromedioPorTipoYCiudad = pd.read_sql(queryPrecioPromedioPorTipoYCiudad, con=engine)
resultPrecioPromedioPorTipoYCiudad

2025-05-20 20:59:48,300 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-20 20:59:48,302 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select round(avg(price) ,2) as precio_promedio, type  from melb group by type order by precio_promedio desc;")
2025-05-20 20:59:48,302 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:48,303 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select round(avg(price) ,2) as precio_promedio, type  from melb group by type order by precio_promedio desc;")
2025-05-20 20:59:48,303 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:48,304 INFO sqlalchemy.engine.Engine select round(avg(price) ,2) as precio_promedio, type  from melb group by type order by precio_promedio desc;
2025-05-20 20:59:48,304 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:48,311 INFO sqlalchemy.engine.Engine ROLLBACK

   precio_promedio Type
0       1242664.76    h
1        933735.05    t
2        605127.48    u

In [63]:
    # - Orden y límites: Mostrá el top 5 barrios con propiedades más caras en promedio.
queryTop5BarriosConPropiedadesMasCaras = "select round(avg(price) ,2) as precio_promedio, suburb from melb group by suburb order by precio_promedio desc limit 5;"
resultTop5BarriosConPropiedadesMasCaras = pd.read_sql(queryTop5BarriosConPropiedadesMasCaras, con=engine)
resultTop5BarriosConPropiedadesMasCaras

2025-05-20 20:59:48,864 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-20 20:59:48,865 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select round(avg(price) ,2) as precio_promedio, suburb from melb group by suburb order by precio_promedio desc limit 5;")
2025-05-20 20:59:48,866 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:48,867 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select round(avg(price) ,2) as precio_promedio, suburb from melb group by suburb order by precio_promedio desc limit 5;")
2025-05-20 20:59:48,867 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:48,868 INFO sqlalchemy.engine.Engine select round(avg(price) ,2) as precio_promedio, suburb from melb group by suburb order by precio_promedio desc limit 5;
2025-05-20 20:59:48,868 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:48,881 INFO sqlalchemy.engine.Engine ROLLBACK

   precio_promedio       Suburb
0       2185000.00      Kooyong
1       2180240.74   Canterbury
2       2082529.41  Middle Park
3       1941355.07  Albert Park
4       1930158.00     Brighton

Ejercicio 5

In [64]:
queryJoin = """
select m.*, a.*
from melb m 
left join airbnb a 
    on m.Postcode_int = a.zipcode_int
LIMIT 100
"""
resultJoin = pd.read_sql(queryJoin, con=engine)
resultJoin

2025-05-20 20:59:53,583 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-20 20:59:53,584 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
select m.*, a.*
from melb m
left join airbnb a
    on m.Postcode_int = a.zipcode_int
LIMIT 100
")
2025-05-20 20:59:53,585 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:53,587 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
select m.*, a.*
from melb m
left join airbnb a
    on m.Postcode_int = a.zipcode_int
LIMIT 100
")
2025-05-20 20:59:53,587 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:53,588 INFO sqlalchemy.engine.Engine
select m.*, a.*
from melb m
left join airbnb a
    on m.Postcode_int = a.zipcode_int
LIMIT 100

2025-05-20 20:59:53,589 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 20:59:53,997 INFO sqlalchemy.engine.Engine ROLLBACK

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,state,zipcode,latitude,longitude,price,weekly_price,monthly_price,zipcode_int,weekly_price_calculate,monthly_price_calculate
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12 00:00:00.000000,2.5,3067.0,...,VIC,3067.0,-37.810196,145.008976,125,NaN,NaN,3067,875.0,3750.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12 00:00:00.000000,2.5,3067.0,...,VIC,3067.0,-37.810981,145.014269,96,NaN,NaN,3067,672.0,2880.0
2,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12 00:00:00.000000,2.5,3067.0,...,VIC,3067.0,-37.809320,144.991833,100,NaN,NaN,3067,700.0,3000.0
3,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12 00:00:00.000000,2.5,3067.0,...,VIC,3067.0,-37.808998,144.992535,55,NaN,NaN,3067,385.0,1650.0
4,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12 00:00:00.000000,2.5,3067.0,...,VIC,3067.0,-37.808703,144.992925,90,NaN,NaN,3067,630.0,2700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12 00:00:00.000000,2.5,3067.0,...,VIC,3067.0,-37.804382,144.996753,138,831.0,3461.0,3067,831.0,3461.0
96,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12 00:00:00.000000,2.5,3067.0,...,VIC,3067.0,-37.803140,144.999114,46,300.0,NaN,3067,300.0,1380.0
97,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12 00:00:00.000000,2.5,3067.0,...,VIC,3067.0,-37.801900,144.999080,101,NaN,NaN,3067,707.0,3030.0
98,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12 00:00:00.000000,2.5,3067.0,...,VIC,3067.0,-37.802802,144.997031,150,NaN,NaN,3067,1050.0,4500.0
99,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12 00:00:00.000000,2.5,3067.0,...,VIC,3067.0,-37.808142,144.997738,55,250.0,1000.0,3067,250.0,1000.0

In [67]:
melb_df.groupby('Regionname').agg(
    total=('Price', 'count'),
    precio_promedio=('Price', 'mean'),
    precio_median=('Price', 'median'),
    precio_max=('Price', 'max'),
    precio_min=('Price', 'min')
).reset_index().sort_values('total', ascending=False)

,Regionname,total,precio_promedio,precio_median,precio_max,precio_min
5,Southern Metropolitan,4695,1.372963e+06,1250000.0,8000000.0,131000.0
2,Northern Metropolitan,3890,8.981711e+05,806250.0,4525000.0,145000.0
6,Western Metropolitan,2948,8.664205e+05,793000.0,3900000.0,85000.0
0,Eastern Metropolitan,1471,1.104080e+06,1010000.0,4000000.0,288000.0
4,South-Eastern Metropolitan,450,9.229438e+05,850000.0,9000000.0,266000.0
1,Eastern Victoria,53,6.999808e+05,670000.0,1085000.0,400000.0
3,Northern Victoria,41,5.948293e+05,540000.0,1355000.0,330000.0
7,Western Victoria,32,3.975234e+05,400000.0,710000.0,280500.0

In [68]:
melb_df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount', 'Postcode_int'],
      dtype='object')

## Ejercicio 2 - Pandas:

1. Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar explicitamente las columnas seleccionadas y las que no lo fueron.
  1. Valores faltantes: ¿Qué porcentaje de filas tienen al menos un valor faltante?
  2.  Mostrar la dispersión o distribución de las columnas seleccionadas.
 3.  Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.
 4. Mostrar visualmente los valores extremos que eliminás



2. Agregar información adicional respectiva al entorno de una propiedad a partir del [conjunto de datos de AirBnB](https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv) utilizado en el práctico.
  1. Seleccionar qué variables agregar y qué combinaciones aplicar a cada una. Por ejemplo, pueden utilizar solo la columna `price`, o aplicar múltiples transformaciones como la mediana (porque no la media?) o el mínimo.
  2. Utilizar la variable zipcode para unir los conjuntos de datos. Sólo incluir los zipcodes que tengan una cantidad mínima de registros (a elección) como para que la información agregada sea relevante.
  3. Mostrar un gráfico zipcode vs airbnb_price_median.
  4. Investigar al menos otras 2 variables que puedan servir para combinar los datos, y justificar si serían adecuadas o no. Pueden asumir que cuentan con la ayuda de anotadores expertos para encontrar equivalencias entre barrios o direcciones, o que cuentan con algoritmos para encontrar las n ubicaciones más cercanas a una propiedad a partir de sus coordenadas geográficas. **NO** es necesario que realicen la implementación.
  5. Si las coordenadas geoespaciales estuvieran disponibles, como las usarian?

Pueden leer otras columnas del conjunto de AirBnB además de las que están en `interesting_cols`, si les parecen relevantes.

¿Qué cosas no están en los datos que te gustaría tener para predecir mejor el precio de una propiedad?

In [ ]:
#1 -Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar explicitamente las columnas seleccionadas y las que no lo fueron.

#Vamos a utilizar la columnas Price, Rooms, Bedroom2 y bathroom ya que tienen una buena correlacion con el precio de las propiedades
correlaciones = pd.read_sql(queryJoin, con=engine).select_dtypes(include=[np.number]).corr().abs()
correlaciones['Price'].sort_values(ascending=False)

2025-05-20 21:00:17,056 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-20 21:00:17,058 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("
select m.*, a.*
from melb m
left join airbnb a
    on m.Postcode_int = a.zipcode_int
LIMIT 100
")
2025-05-20 21:00:17,059 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 21:00:17,064 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("
select m.*, a.*
from melb m
left join airbnb a
    on m.Postcode_int = a.zipcode_int
LIMIT 100
")
2025-05-20 21:00:17,067 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 21:00:17,069 INFO sqlalchemy.engine.Engine
select m.*, a.*
from melb m
left join airbnb a
    on m.Postcode_int = a.zipcode_int
LIMIT 100

2025-05-20 21:00:17,070 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-20 21:00:17,428 INFO sqlalchemy.engine.Engine ROLLBACK

Rooms                     NaN
Price                     NaN
Distance                  NaN
Postcode                  NaN
Bedroom2                  NaN
Bathroom                  NaN
Car                       NaN
Landsize                  NaN
Lattitude                 NaN
Longtitude                NaN
Propertycount             NaN
Postcode_int              NaN
zipcode                   NaN
latitude                  NaN
longitude                 NaN
price                     NaN
weekly_price              NaN
monthly_price             NaN
zipcode_int               NaN
weekly_price_calculate    NaN
monthly_price_calculate   NaN
Name: Price, dtype: float64

In [ ]:
# Valores faltantes: ¿Qué porcentaje de filas tienen al menos un valor faltante?
rows = pandas.read_sql(queryJoin, con=engine)

totalValorFaltante = 0

for idx, fila in rows.iterrows():
    if fila.isnull().any():
        totalValorFaltante += 1
        continue

print(f"\nTotal de filas con al menos un valor faltante en su columna: {totalValorFaltante / len(rows) * 100:.2f}%")

In [ ]:
columnasSeleccionadas = ['Price', 'Rooms', 'Bedroom2', 'Bathroom']
result = pandas.read_sql(queryJoin, con=engine)[columnasSeleccionadas]

plt.figure(figsize=(8, 6))
plt.scatter(result['Rooms'], result['Price'], alpha=0.5)
plt.xlabel('Rooms')
plt.ylabel('Price')
plt.title('Dispersión: Rooms vs Price')
plt.show()

In [ ]:
result.sort_values(by='Price', ascending=True)

In [ ]:
seaborn.boxplot(x='Bathroom', y='Price', data=result)
plt.title('Dispersion: Rooms vs Price')
plt.show()

In [ ]:
#Eliminar valores atípicos de propiedades con valores mayor a 6 millone

pandas.set_option('display.float_format', lambda x: '%.2f' % x)
quantile=  resultJoin['Price'].quantile(0.90)


queryJoin = "select m.*, a.weekly_price, a.monthly_price from melb m left join airbnb a on m.postcode = a.zipcode where price < "+ str(quantile)    

resultJoin = pandas.read_sql(queryJoin, con=engine)

ax = seaborn.boxenplot(x='Rooms', y='Price', data=resultJoin)
ax.yaxis.set_major_formatter(mticker.FormatStrFormatter('%.0f'))

plt.title('Dispersion sin valores extremos: Rooms vs Price')
plt.show()

## Ejercicio 3:

Crear y guardar un nuevo conjunto de datos con todas las transformaciones realizadas anteriormente.

## Ejercicios opcionales:

1. Armar un script en python (archivo .py) [ETL](https://towardsdatascience.com/what-to-log-from-python-etl-pipelines-9e0cfe29950e) que corra los pasos de extraccion, transformacion y carga, armando una funcion para cada etapa del proceso y luego un main que corra todos los pasos requeridos.

2. Armar un DAG en Apache Airflow que corra el ETL. (https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html)

In [3]:
pip install -U decouple

Requirement already satisfied: decouple in /Users/peluso/Metodos_numericos_nbodys/simulacao_doutorado/env_graph/lib/python3.10/site-packages (0.0.7)

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import datetime as dt
import requests
import io
from sqlalchemy import create_engine, text
import os
from decouple import config
import logging

ImportError: cannot import name 'config' from 'decouple' (/Users/peluso/Metodos_numericos_nbodys/simulacao_doutorado/env_graph/lib/python3.10/site-packages/decouple/__init__.py)

In [2]:
# Cuando nos queremos conectar a una Base de Datos productiva normalmente necesitamos pasar credenciales para acceder.
# Estas credenciales NO deben ser escritas en archivos compartidos subidos a github, sino mas bien en archivos "privados".
# Una buena practica para manejar credenciales es en archivos ".env" que solo quedan registrados en su computadora local.
# La libreria "python decouple" permite leer estos archivos de configuracion .env y manejarlo como variables.
DB_USER = config('DB_USER')
DB_PASSWORD = config('DB_PASSWORD')
DB_HOST = config('DB_HOST')
DB_PORT = config('DB_PORT')
# En lugar de usar prints para ver el avance a medida que va corriendo el script se utilizan los logs.
# Los logs basicamente son registros que se van dejando para saber el codigo que ha sido ejecutado.
# Es decision arbitraria del programador decidir que desea registrar en los logs.
# En python se utiliza la libreria logging https://docs.python.org/3/library/logging.html#logging-levels
# La libreria permite definir niveles de logs (ERROR, DEBUG, INFO, etc). Segun la criticidad del error.
logger = logging.getLogger(__name__)
logger.setLevel(logging.DEBUG)
logging.basicConfig(format='%(asctime)s %(levelname)s:%(message)s', level=logging.DEBUG, datefmt='%I:%M:%S')

NameError: name 'config' is not defined

In [ ]:
def extract(url,interesting_cols):
  # The extract process could be complex including some SQL queries
    if len(interesting_cols) ==0:
        df = pd.read_csv(url)
        logger.info('read_csv exitoso')
    else:
        df = pd.read_csv(url,usecols=interesting_cols)
        logger.info('read_csv exitoso con columnas interesantes')
    return df

In [10]:
def connection_db(database_name):
    '''Connect to DB using SQLAlchemy methods. Returns an engine created and connected'''
    # ejemplo de conexion a PostgreSQL utilizando SQLalchemy
    #engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/survey".format(),echo=False, client_encoding='utf8')
    try:
        engine = create_engine(f"sqlite:///{database_name}", echo=True)
        logger.info('Conexion exitosa a la base de datos')
        return engine

    except ValueError as e:
        logger.error(e)

In [ ]:
def transform(df,database_table_name):
  '''Transform the data. In this case, we are going to use the same dataframe'''
  # En este caso no se realizan transformaciones
  # pero se pueden realizar transformaciones como eliminar columnas, renombrar columnas, etc.
  if database_table_name == 'melb'
    melb_df['Postcode'] = pd.to_numeric(melb_df.Postcode, errors='coerce')
    melb_df['Postcode_int'] = melb_df.Postcode.fillna(0).astype('int') # Convertimos la columna Postcode a int y renombramos la columna para no perder la original
    melb_df['Date'] = pd.to_datetime(melb_df['Date'], errors='coerce') # Convertimos la columna Date a datetime
    melb_df['Bedroom2'] = melb_df['Bedroom2'].fillna(0).astype('int') # Convertimos la columna Bedroom2 a int
    melb_df['Bathroom'] = melb_df['Bathroom'].fillna(0).astype('int') # Convertimos la columna Bathroom a int
    melb_df['Car'] = melb_df['Car'].fillna(0).astype('int') # Convertimos la columna Car a int
  else:
    # Working data for the analysis
    airbnb_df['zipcode'] = pd.to_numeric(airbnb_df.zipcode, errors='coerce')
    airbnb_df['zipcode_int'] = airbnb_df.zipcode.fillna(0).astype('int') # Convertimos la columna zipcode a int y renombramos la columna para no perder la original
    airbnb_df['weekly_price_calculate'] = airbnb_df.apply(lambda row: row['price']*7. if pd.isnull(row['weekly_price']) else row['weekly_price'], axis=1) # Realizamos el calculo de weekly_price considerando price*7dias
    airbnb_df['monthly_price_calculate'] = airbnb_df.apply(lambda row: row['price']*30. if pd.isnull(row['monthly_price']) else row['monthly_price'], axis=1) # Realizamos el calculo de weekly_price considerando price*30dias

In [ ]:
def save_database(df,table_name):
  '''Load the data into the database'''
  try:
      # Create a table 'melb' in the SQLite database
      df.to_sql(table_name, con=engine, if_exists='replace', index=False)
      logger.info('Carga exitosa de la tabla en la base de datos')
  except ValueError as e:
      logger.error(e)
      logger.error('Error en la carga de la tabla en la base de datos')

In [ ]:
# la funcion main es muy utilizada en scripts python cuando tenemos archivos .py por ejemplo etl.py
# al tener la funcion main pueden correr desde la terminal python etl.py y va a ejecutar lo definido en la funcion main
def main():

    logger.info('Comienza la extraccion')
    logger.info('Conectar a la base de datos')
    engine = connection_db('melbourne.db')
    logger.info('Extract data from url melbourne dataset')
    df = extract('http://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv', [])
    logger.info('Transform data')
    transform(df,'melb')
    logger.info('Save data into database')
    save_database(df,engine,'melb')
    logger.info('Extract data from url airbnb dataset')
    df = extract('http://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv', ['description', 'neighborhood_overview','street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode','price', 'weekly_price', 'monthly_price','latitude', 'longitude'])
    logger.info('Transform data')
    transform(df,'airbnb')
    logger.info('Save data into database')
    save_database(df,'airbnb')

if __name__ == "__main__":
    logger.info('ETL Process Initialized')
    main()

In [ ]:
# ejemplo de DAG en Airflow for melb ETL dataset
from airflow import DAG
with DAG(
    'dag_melb',
    default_args=default_args,
    description='DAG ',
    schedule_interval=timedelta(hours=1),
    start_date=datetime(2025, 6, 26),
) as dag:
    connection = PythonOperator(task_id='engine',
                                python_callable=connection_db(),
                                op_kwargs={database_name: 'melbourne.db'},)
    extraction = PythonOperator(task_id='engine',
                                python_callable=extract(),
                                op_kwargs={url:'http://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv',interesting_cols:[]},)
    transformation = PythonOperator(task_id='transformation',
                                    python_callable=transform
                                    op_kwargs={database_table_name: 'melb')
    save_database = PythonOperator(task_id='save_database',
                                 python_callable=save_database,
                                 op_kwargs={table_name:'melb'},)
    connection >> extraction >> transformation >> save_database

# ejemplo de DAG en Airflow for airbnb ETL dataset
from airflow import DAG
with DAG(
    'dag_airbnb',
    default_args=default_args,
    description='DAG ',
    schedule_interval=timedelta(hours=1),
    start_date=datetime(2025, 6, 26),
) as dag:
    connection = PythonOperator(task_id='engine',
                                python_callable=connection_db(),
                                op_kwargs={database_name: 'melbourne.db'},)
    extraction = PythonOperator(task_id='engine',
                                python_callable=extract(),
                                op_kwargs={
                                    url:'http://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/cleansed_listings_dec18.csv',
                                    interesting_cols:['description', 'neighborhood_overview','street', 'neighborhood', 'city', 'suburb', 'state', 'zipcode','price', 'weekly_price', 'monthly_price','latitude', 'longitude']},)
    transformation = PythonOperator(task_id='transformation',
                                    python_callable=transform
                                    op_kwargs={database_table_name: 'airbnb')
    save_database = PythonOperator(task_id='save_database',
                                 python_callable=save_database,
                                 op_kwargs={table_name:'airbnb'},)
    connection >> extraction >> transformation >> save_database