In [16]:
import matplotlib.pyplot as plt
import numpy
import pandas

import seaborn
seaborn.set_context('talk')

from sqlalchemy import create_engine, text

**Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones**

**Exploración y Curación de Datos**

*Edición 2025*

----

# Trabajo práctico entregable - parte 1

En esta notebook, vamos a cargar el conjunto de datos de [la compentencia Kaggle](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot) sobre estimación de precios de ventas de propiedades en Melbourne, Australia.

Utilizaremos el conjunto de datos reducido producido por [DanB](https://www.kaggle.com/dansbecker). Hemos subido una copia a un servidor de la Universidad Nacional de Córdoba para facilitar su acceso remoto.

In [17]:
import plotly
plotly.__version__

'5.22.0'

In [18]:
melb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')
melb_df[:10]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0

## Ejercicio 1 SQL:

1. Crear una base de datos en SQLite utilizando la libreria [SQLalchemy](https://stackoverflow.com/questions/2268050/execute-sql-from-file-in-sqlalchemy).
https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite

2. Ingestar los datos provistos en 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv' en una tabla y el dataset generado en clase con datos de airbnb y sus precios por codigo postal en otra.

3. Validar tipos de columnas antes de guardar: df.to_sql() infiere tipos automáticamente, pero a veces los nombres de columnas como Date, Price o ID dan problemas si vienen con strings o valores nulos.

4. Implementar consultas en SQL que respondan con la siguiente información:

    - cantidad de registros totales por ciudad.
    - cantidad de registros totales por barrio y ciudad.
    - Consulta con filtro: ¿Cuántas propiedades hay por ciudad con más de 2 habitaciones?
    - Agregación condicional: ¿Cuál es el precio promedio de propiedades según tipo (Type) y ciudad?
    - Orden y límites: Mostrá el top 5 barrios con propiedades más caras en promedio.

5. Combinar los datasets de ambas tablas ingestadas utilizando el comando JOIN de SQL  para obtener un resultado similar a lo realizado con Pandas en clase.

Creacion de Base de datos e ingesta

In [ ]:
engine = create_engine("sqlite:///C:\\diplomatura\\to\\melbourne.db", echo=True)
# engine

melb_df.to_sql('melb', con=engine, if_exists='replace', index=False)

2025-05-11 23:35:47,220 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-11 23:35:47,225 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("melb")
2025-05-11 23:35:47,226 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,227 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("melb")
2025-05-11 23:35:47,228 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,230 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-05-11 23:35:47,230 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,232 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-05-11 23:35:47,232 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,233 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("melb")
2025-05-11 23:35:47,234 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,236 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-05-11 23:35:47,236 INFO sqlalchemy.engine.Engine [raw sql] ('melb',)
2025-05-11 23:35:47,237 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("melb")
2025-05-11 23:35:47,239 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,239 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("melb")
2025-05-11 23:35:47,240 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,241 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-05-11 23:35:47,242 INFO sqlalchemy.engine.Engine [raw sql] ('melb',)
2025-05-11 23:35:47,242 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("melb")
2025-05-11 23:35:47,243 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,244 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("melb")
2025-05-11 23:35:47,245 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,246 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("melb")
2025-05-11 23:35:47,247 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,248 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("melb")
2025-05-11 23:35:47,248 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,249 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("melb")
2025-05-11 23:35:47,249 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,250 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("melb")
2025-05-11 23:35:47,251 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,252 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-05-11 23:35:47,253 INFO sqlalchemy.engine.Engine [raw sql] ('melb',)
2025-05-11 23:35:47,255 INFO sqlalchemy.engine.Engine
DROP TABLE melb
2025-05-11 23:35:47,256 INFO sqlalchemy.engine.Engine [no key 0.00079s] ()
2025-05-11 23:35:47,266 INFO sqlalchemy.engine.Engine
CREATE TABLE melb (
	"Suburb" TEXT,
	"Address" TEXT,
	"Rooms" BIGINT,
	"Type" TEXT,
	"Price" FLOAT,
	"Method" TEXT,
	"SellerG" TEXT,
	"Date" TEXT,
	"Distance" FLOAT,
	"Postcode" FLOAT,
	"Bedroom2" FLOAT,
	"Bathroom" FLOAT,
	"Car" FLOAT,
	"Landsize" FLOAT,
	"BuildingArea" FLOAT,
	"YearBuilt" FLOAT,
	"CouncilArea" TEXT,
	"Lattitude" FLOAT,
	"Longtitude" FLOAT,
	"Regionname" TEXT,
	"Propertycount" FLOAT
)


2025-05-11 23:35:47,267 INFO sqlalchemy.engine.Engine [no key 0.00095s] ()
2025-05-11 23:35:47,432 INFO sqlalchemy.engine.Engine INSERT INTO melb ("Suburb", "Address", "Rooms", "Type", "Price", "Method", "SellerG", "Date", "Distance", "Postcode", "Bedroom2", "Bathroom", "Car", "Landsize", "BuildingArea", "YearBuilt", "CouncilArea", "Lattitude", "Longtitude", "Regionname", "Propertycount") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-11 23:35:47,434 INFO sqlalchemy.engine.Engine [generated in 0.11970s] [('Abbotsford', '85 Turner St', 2, 'h', 1480000.0, 'S', 'Biggin', '3/12/2016', 2.5, 3067.0, 2.0, 1.0, 1.0, 202.0, None, None, 'Yarra', -37.7996, 144.9984, 'Northern Metropolitan', 4019.0), ('Abbotsford', '25 Bloomburg St', 2, 'h', 1035000.0, 'S', 'Biggin', '4/02/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 156.0, 79.0, 1900.0, 'Yarra', -37.8079, 144.9934, 'Northern Metropolitan', 4019.0), ('Abbotsford', '5 Charles St', 3, 'h', 1465000.0, 'SP', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 0.0, 134.0, 150.0, 1900.0, 'Yarra', -37.8093, 144.9944, 'Northern Metropolitan', 4019.0), ('Abbotsford', '40 Federation La', 3, 'h', 850000.0, 'PI', 'Biggin', '4/03/2017', 2.5, 3067.0, 3.0, 2.0, 1.0, 94.0, None, None, 'Yarra', -37.7969, 144.9969, 'Northern Metropolitan', 4019.0), ('Abbotsford', '55a Park St', 4, 'h', 1600000.0, 'VB', 'Nelson', '4/06/2016', 2.5, 3067.0, 3.0, 1.0, 2.0, 120.0, 142.0, 2014.0, 'Yarra', -37.8072, 144.9941, 'Northern Metropolitan', 4019.0), ('Abbotsford', '129 Charles St', 2, 'h', 941000.0, 'S', 'Jellis', '7/05/2016', 2.5, 3067.0, 2.0, 1.0, 0.0, 181.0, None, None, 'Yarra', -37.8041, 144.9953, 'Northern Metropolitan', 4019.0), ('Abbotsford', '124 Yarra St', 3, 'h', 1876000.0, 'S', 'Nelson', '7/05/2016', 2.5, 3067.0, 4.0, 2.0, 0.0, 245.0, 210.0, 1910.0, 'Yarra', -37.8024, 144.9993, 'Northern Metropolitan', 4019.0), ('Abbotsford', '98 Charles St', 2, 'h', 1636000.0, 'S', 'Nelson', '8/10/2016', 2.5, 3067.0, 2.0, 1.0, 2.0, 256.0, 107.0, 1890.0, 'Yarra', -37.806, 144.9954, 'Northern Metropolitan', 4019.0)  ... displaying 10 of 13580 total bound parameter sets ...  ('Williamstown', '96 Verdon St', 4, 'h', 2500000.0, 'PI', 'Sweeney', '26/08/2017', 6.8, 3016.0, 4.0, 1.0, 5.0, 866.0, 157.0, 1920.0, None, -37.85908, 144.89299, 'Western Metropolitan', 6380.0), ('Yarraville', '6 Agnes St', 4, 'h', 1285000.0, 'SP', 'Village', '26/08/2017', 6.3, 3013.0, 4.0, 1.0, 1.0, 362.0, 112.0, 1920.0, None, -37.81188, 144.88449, 'Western Metropolitan', 6543.0)]
2025-05-11 23:35:47,504 INFO sqlalchemy.engine.Engine COMMIT
select * from melb
2025-05-11 23:35:47,514 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-11 23:35:47,514 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select * from melb")
2025-05-11 23:35:47,516 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,516 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select * from melb")
2025-05-11 23:35:47,517 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,518 INFO sqlalchemy.engine.Engine select * from melb
2025-05-11 23:35:47,519 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:35:47,627 INFO sqlalchemy.engine.Engine ROLLBACK
Total de registros en Northern Metropolitan:               Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577   Williamstown       83 Power St      3    h  1170000.0      S
13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0
1        Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0
2        Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0
3        Biggin   4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0
4        Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  Williams  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577     Raine  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578   Sweeney  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579   Village  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0               NaN        NaN        Yarra -37.79960   144.99840
1              79.0     1900.0        Yarra -37.80790   144.99340
2             150.0     1900.0        Yarra -37.80930   144.99440
3               NaN        NaN        Yarra -37.79690   144.99690
4             142.0     2014.0        Yarra -37.80720   144.99410
...             ...        ...          ...       ...         ...
13575           NaN     1981.0         None -37.90562   145.16761
13576         133.0     1995.0         None -37.85927   144.87904
13577           NaN     1997.0         None -37.85274   144.88738
13578         157.0     1920.0         None -37.85908   144.89299
13579         112.0     1920.0         None -37.81188   144.88449

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
...                           ...           ...
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[13580 rows x 21 columns]

In [66]:
queryTotalRegistrosPorCiudad = "select count(*) as total, regionname from melb group by Regionname order by total desc;"
resultTotalRegistrosPorCiudad = pandas.read_sql(queryTotalRegistrosPorCiudad, con=engine)
resultTotalRegistrosPorCiudad

2025-05-12 00:20:08,588 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-12 00:20:08,588 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select count(*) as total, regionname from melb group by Regionname order by total desc;")
2025-05-12 00:20:08,589 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:20:08,591 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select count(*) as total, regionname from melb group by Regionname order by total desc;")
2025-05-12 00:20:08,593 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:20:08,594 INFO sqlalchemy.engine.Engine select count(*) as total, regionname from melb group by Regionname order by total desc;
2025-05-12 00:20:08,595 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:20:08,607 INFO sqlalchemy.engine.Engine ROLLBACK

   total                  Regionname
0   4695       Southern Metropolitan
1   3890       Northern Metropolitan
2   2948        Western Metropolitan
3   1471        Eastern Metropolitan
4    450  South-Eastern Metropolitan
5     53            Eastern Victoria
6     41           Northern Victoria
7     32            Western Victoria

In [67]:

queryTotalRegistrosPorBarrioYCiudad = "select count(*) as total, suburb from melb group by Regionname, suburb order by total desc;"
resultTotalRegistrosPorBarrioYCiudad = pandas.read_sql(queryTotalRegistrosPorBarrioYCiudad, con=engine)
resultTotalRegistrosPorBarrioYCiudad

2025-05-12 00:20:20,140 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-12 00:20:20,141 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select count(*) as total, suburb from melb group by Regionname, suburb order by total desc;")
2025-05-12 00:20:20,143 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:20:20,145 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select count(*) as total, suburb from melb group by Regionname, suburb order by total desc;")
2025-05-12 00:20:20,146 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:20:20,148 INFO sqlalchemy.engine.Engine select count(*) as total, suburb from melb group by Regionname, suburb order by total desc;
2025-05-12 00:20:20,149 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:20:20,168 INFO sqlalchemy.engine.Engine ROLLBACK

     total          Suburb
0      359       Reservoir
1      260        Richmond
2      249  Bentleigh East
3      239         Preston
4      222       Brunswick
..     ...             ...
309      1       Sandhurst
310      1        Plumpton
311      1        Rockbank
312      1   Bacchus Marsh
313      1      Brookfield

[314 rows x 2 columns]

In [44]:
    # - Consulta con filtro: ¿Cuántas propiedades hay por ciudad con más de 2 habitaciones?
    
queryTotalRegistrosPorCiudadConMasDe2Habitaciones = "select count(*) as total, regionname from melb where rooms > 2 group by Regionname order by total desc;"
resultTotalRegistrosPorCiudadConMasDe2Habitaciones = pandas.read_sql(queryTotalRegistrosPorCiudadConMasDe2Habitaciones, con=engine)
resultTotalRegistrosPorCiudadConMasDe2Habitaciones

2025-05-11 23:49:16,721 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-11 23:49:16,722 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select count(*) as total, regionname from melb where rooms > 2 group by Regionname order by total desc;")
2025-05-11 23:49:16,724 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:49:16,725 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select count(*) as total, regionname from melb where rooms > 2 group by Regionname order by total desc;")
2025-05-11 23:49:16,727 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:49:16,730 INFO sqlalchemy.engine.Engine select count(*) as total, regionname from melb where rooms > 2 group by Regionname order by total desc;
2025-05-11 23:49:16,731 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-11 23:49:16,740 INFO sqlalchemy.engine.Engine ROLLBACK

   total                  Regionname
0   2848       Southern Metropolitan
1   2389       Northern Metropolitan
2   2259        Western Metropolitan
3   1228        Eastern Metropolitan
4    407  South-Eastern Metropolitan
5     50            Eastern Victoria
6     39           Northern Victoria
7     31            Western Victoria

In [58]:
    # - Agregación condicional: ¿Cuál es el precio promedio de propiedades según tipo (Type) y ciudad?
queryPrecioPromedioPorTipoYCiudad = "select round(avg(price) ,2) as precio_promedio, type, regionname from melb group by type, regionname order by precio_promedio desc;"
resultPrecioPromedioPorTipoYCiudad = pandas.read_sql(queryPrecioPromedioPorTipoYCiudad, con=engine)
resultPrecioPromedioPorTipoYCiudad

2025-05-12 00:00:50,126 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-12 00:00:50,127 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select round(avg(price) ,2) as precio_promedio, type, regionname from melb group by type, regionname order by precio_promedio desc;")
2025-05-12 00:00:50,129 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:00:50,131 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select round(avg(price) ,2) as precio_promedio, type, regionname from melb group by type, regionname order by precio_promedio desc;")
2025-05-12 00:00:50,132 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:00:50,134 INFO sqlalchemy.engine.Engine select round(avg(price) ,2) as precio_promedio, type, regionname from melb group by type, regionname order by precio_promedio desc;
2025-05-12 00:00:50,136 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:00:50,154 INFO sqlalchemy.engine.Engine ROLLBACK

    precio_promedio Type                  Regionname
0        1802241.08    h       Southern Metropolitan
1        1205404.47    t       Southern Metropolitan
2        1197450.46    h        Eastern Metropolitan
3        1021221.87    h       Northern Metropolitan
4         955949.62    h  South-Eastern Metropolitan
5         950766.27    h        Western Metropolitan
6         913270.00    t  South-Eastern Metropolitan
7         869619.92    t        Eastern Metropolitan
8         749608.31    t       Northern Metropolitan
9         720951.05    t        Western Metropolitan
10        714299.64    h            Eastern Victoria
11        664860.01    u       Southern Metropolitan
12        649314.44    u        Eastern Metropolitan
13        594829.27    h           Northern Victoria
14        583364.86    u  South-Eastern Metropolitan
15        544403.77    u       Northern Metropolitan
16        488414.42    u        Western Metropolitan
17        461333.33    u            Eastern Victoria
18        397523.44    h            Western Victoria

In [65]:
    # - Orden y límites: Mostrá el top 5 barrios con propiedades más caras en promedio.
queryTop5BarriosConPropiedadesMasCaras = "select round(avg(price) ,2) as precio_promedio, suburb from melb group by suburb order by precio_promedio desc limit 5;"
resultTop5BarriosConPropiedadesMasCaras = pandas.read_sql(queryTop5BarriosConPropiedadesMasCaras, con=engine)
resultTop5BarriosConPropiedadesMasCaras

2025-05-12 00:03:03,238 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-12 00:03:03,240 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("select round(avg(price) ,2) as precio_promedio, suburb from melb group by suburb order by precio_promedio desc limit 5;")
2025-05-12 00:03:03,241 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:03:03,244 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("select round(avg(price) ,2) as precio_promedio, suburb from melb group by suburb order by precio_promedio desc limit 5;")
2025-05-12 00:03:03,246 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:03:03,247 INFO sqlalchemy.engine.Engine select round(avg(price) ,2) as precio_promedio, suburb from melb group by suburb order by precio_promedio desc limit 5;
2025-05-12 00:03:03,250 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 00:03:03,261 INFO sqlalchemy.engine.Engine ROLLBACK

   precio_promedio       Suburb
0       2185000.00      Kooyong
1       2180240.74   Canterbury
2       2082529.41  Middle Park
3       1941355.07  Albert Park
4       1930158.00     Brighton

## Ejercicio 2 - Pandas:

1. Seleccionar un subconjunto de columnas que les parezcan relevantes al problema de predicción del valor de la propiedad. Justificar explicitamente las columnas seleccionadas y las que no lo fueron.
  1. Valores faltantes: ¿Qué porcentaje de filas tienen al menos un valor faltante?
  2.  Mostrar la dispersión o distribución de las columnas seleccionadas.
 3.  Eliminar los valores extremos que no sean relevantes para la predicción de valores de las propiedades.
 4. Mostrar visualmente los valores extremos que eliminás



2. Agregar información adicional respectiva al entorno de una propiedad a partir del [conjunto de datos de AirBnB](https://www.kaggle.com/tylerx/melbourne-airbnb-open-data?select=cleansed_listings_dec18.csv) utilizado en el práctico.
  1. Seleccionar qué variables agregar y qué combinaciones aplicar a cada una. Por ejemplo, pueden utilizar solo la columna `price`, o aplicar múltiples transformaciones como la mediana (porque no la media?) o el mínimo.
  2. Utilizar la variable zipcode para unir los conjuntos de datos. Sólo incluir los zipcodes que tengan una cantidad mínima de registros (a elección) como para que la información agregada sea relevante.
  3. Mostrar un gráfico zipcode vs airbnb_price_median.
  4. Investigar al menos otras 2 variables que puedan servir para combinar los datos, y justificar si serían adecuadas o no. Pueden asumir que cuentan con la ayuda de anotadores expertos para encontrar equivalencias entre barrios o direcciones, o que cuentan con algoritmos para encontrar las n ubicaciones más cercanas a una propiedad a partir de sus coordenadas geográficas. **NO** es necesario que realicen la implementación.
  5. Si las coordenadas geoespaciales estuvieran disponibles, como las usarian?

Pueden leer otras columnas del conjunto de AirBnB además de las que están en `interesting_cols`, si les parecen relevantes.

¿Qué cosas no están en los datos que te gustaría tener para predecir mejor el precio de una propiedad?

## Ejercicio 3:

Crear y guardar un nuevo conjunto de datos con todas las transformaciones realizadas anteriormente.

## Ejercicios opcionales:

1. Armar un script en python (archivo .py) [ETL](https://towardsdatascience.com/what-to-log-from-python-etl-pipelines-9e0cfe29950e) que corra los pasos de extraccion, transformacion y carga, armando una funcion para cada etapa del proceso y luego un main que corra todos los pasos requeridos.

2. Armar un DAG en Apache Airflow que corra el ETL. (https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html)